:root {
    --almost-white: #FAFAFA;
    --medium-gray: #696969;
    --almost-black: #141414;
}

html, body {
    display: flex;
    flex-direction: column;
    font-family: "Epilogue", sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    opacity: 1;
}

img {
    opacity: 1;
}




























li {
    padding: 2.5rem 0rem 0.5rem;
    list-style: none;
}

nav {
    align-items: center;
    display: flex;
    margin: 0 auto;
    width: 95%;
}

.features-dropdown, .company-dropdown {
    border-radius: 10px;
    box-shadow: 0px 0px 40px #cbcbcb;
    display: block;
    padding: 0.5rem;
    position: absolute;
}

.company-dropdown {
    width: 110px;
}

.features-dropdown {
    width: 150px;
    left: 80px;
}

.features-dropdown span, .nav-link, .dropdown-link {
    opacity: 0.5;
}

.features-dropdown span:hover {
    opacity: 1;
}




.features-dropdown li, .company-dropdown li {
    margin: 1.5rem 0rem 1.5rem 1rem;
}

.features-dropdown a, .company-dropdown a {
    margin-right: 0rem;
}



.features, .company {
    align-items: center;
    display: flex;
}


.hamburger {
    display: none;
}

.hamburger:hover {
    cursor: pointer;
}

.left .nav-link {
    margin-right: 3rem;
}

.left, .right {
    display: flex;
}

.left img {
    margin-right: 0.5rem;
    position: relative;
    top: 2px;
}

.logo {
    padding: 2.5rem 0rem 2rem 0rem;
    margin-right: 3rem;
}

.nav-links{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.nav-links li {
    padding: 0;
}

.register {
    border: 2px solid black;
    border-radius: 15px;
    padding: 1rem 1.5rem;
}

.right li {
    margin-left: 3rem;
}












/*********************************************************MEDIA QUERY*********************************************************/
@media (max-width: 950px) {
    nav {
        background-color: cyan;
        justify-content: space-between;
    }

    .bar1, .bar2, .bar3 {
        background-color: black;
        border-radius: 10px;
        width: 2.5rem;
        height: 3px;
    }

    


    .hamburger {
        display: flex;
        flex-direction: column;   
        height: 25px;
        justify-content: space-between;
    }

    .nav-links {
        display: none;
    }

}

